# RUN IN LOCAL
REDIS_HOST=localhost
DATABASE_URL=postgresql://root:root@localhost:5432/aggregator?schema=public

# Run IN DOCKER
# REDIS_HOST=redis
# DATABASE_URL=postgresql://root:root@postgres:5432/aggregator?schema=public

REDIS_PORT=6379
REDIS_PASSWORD=root

# TMDB
TMDB_TOKEN_READING=""

# OPEN ROUTER
OPEN_ROUTER_API_KEY="sk-"

SENTRY_DSN=