@import "tailwindcss";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #121217;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@theme {
    --color-bg-dark: #121217;
    --color-bg-light: #d7d5e3;
    --color-bg-medium: #29303f;
    --color-text-secondary: #a7a7a7;
    --color-text-regular: #ffffff;
    --color-text-dark: #000000;

    --color-utils-orange-light: #ee8363;
    --color-utils-orange: #ff3b00;
    --color-utils-yellow: #ffbb00;
    --color-utils-green: #07bc44;
    --color-utils-gray: #d9d9d9;
}

@utility drag-none {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-select: none;
}

@utility modal {
    @apply fixed h-full w-full flex items-center justify-center z-50 bg-gray-800/50;
    max-height: none;
    max-width: none;
}

@utility modalBox {
    @apply relative w-full max-w-lg p-8 bg-bg-dark rounded-lg shadow-lg;
    animation: modalEnter 0.3s ease-out forwards;
}

@keyframes modalEnter {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes modalExit {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.9);
    }
}

.modal[open] {
    visibility: visible;
    /* animation: modalEnter 0.3s ease-out forwards; */
}

.modal:not([open]) {
    visibility: hidden;
    /* animation: modalExit 0.3s ease-in forwards; */
}
